@model SentenceParser.Business.DTO.Result

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

@if(ViewBag.Message != null)
{
    <div>@ViewBag.Message</div>
}

@if(Model != null)
{
    <div class="row page-header">
        <div class="col-md-2 text-primary">Classification</div>
        <div class="col-md-2 text-primary">Count</div>
        <div class="col-md-6 text-primary">Words</div>
    </div>

    <div class="row">
        <div class="col-md-2">Max</div>
        <div class="col-md-2">@Model.MaxCount</div>
        <div class="col-md-6">@Model.MaxOccuredWords</div>
    </div>
    <div class="row">
        <div class="col-md-2">Min</div>
        <div class="col-md-2">@Model.MinCount</div>
        <div class="col-md-6">@Model.MinOccuredWords</div>
    </div>
    <div class="row">
        <div class="col-md-2">Median</div>
        <div class="col-md-2">@Model.MedianCount</div>
        <div class="col-md-6">@Model.MedianOccuredWords</div>
    </div>
}
<br />
@Html.ActionLink("Parse Another", "Parse", null, new { @class = "btn btn-default" })